[Unit]
Description=Docker Service for Portfolio App
Requires=docker.service
After=docker.service

[Service]
Restart=always
ExecStart=/usr/bin/docker run --name portfolioapp -p 8080:8080 ghcr.io/abila98/portfolioapp:latest
ExecStop=/usr/bin/docker stop -t 2 portfolioapp

[Install]
WantedBy=multi-user.target
